
@{
    ViewBag.Title = "Kendo UI SPA";
}



@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/angular.min.js")


 

<h2>Index</h2>

<html ng-app>
<head>
    <meta charset="utf-8">
</head>
<body>
    <label>Введите имя:</label>
    <input type="text" ng-model="name" placeholder="Введите имя">

    <h1>Fck yo  {{name}}!</h1>

    
</body>
</html>